# Data Science Tools and Ecosystem

## Author
James Hatch

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular language for Data Science
- List commonly used libraries for Data Science
- List commonly used Data Science tools
- Demonstrates arithmetic examples using Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Kera
2. Pandas
3. NumPy

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [40]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = (minutes/60)
print(hours)

3.3333333333333335